/* RESET */
body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
}

p {
	margin: 0;
}


/* HEADER */
header .btn-random {
	height: 5%;
	float: right;
	cursor: pointer;
	padding: 1rem;
}

header .btn-random svg {
	vertical-align: middle;
}

header .btn-random svg:hover {
	animation: loader 1.5s linear infinite;
}

header .btn-random p {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	font-size: 1.5rem;
}

/* MAIN */
.hide {
	visibility: hidden;
}

main {
	display: flex;
	flex-direction: column;
	height: 95%;
	display: flex;
	flex-direction: column;
	margin: 10% 30%;
	gap: 4rem;
}

main .list-quote {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

main .list-quote p {
	font-size: 2rem;
	width: 100%;
	height: 100%;
}

main .quote {
	display: flex;
	gap: 2rem;
	width: 100%;
	height: 100%;
}

main .quote .rectangle {
	width: 5px;
	height: 100%;
	background-color: #f7df94;
}

main .btn-author {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #333333;
}

main .btn-author:hover {
	background-color: #333333;
	color: white;
	cursor: pointer;
}

main .btn-author div {
	margin: 3rem 2rem;
}

main .btn-author .name {
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 1rem;
}

main .btn-author .theme {
	font-size: 1.5em;
}


@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-90deg);
	}
	50% {
		transform: rotate(-180deg);
	}
	750% {
		transform: rotate(-270deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
